@use "../utils/utils" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: $border-radius-lg;
  padding: $spacing-lg;
  max-width: 500px;
  width: 100%;
  transition: transform $transition-normal;

  &.open {
    transform: scale(1);
  }

  &.close {
    transform: scale(0);
  }
}
