@use "../utils/utils" as *;

.navbar {
  background-color: $primary-color;
  padding: $spacing-sm $spacing-lg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  border-bottom: $border-default;
  border-radius: $border-radius;
  .logo {
    color: $button-text;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .navbar-links {
    display: flex;
    gap: $spacing-md;
  }

  .navbar-links a {
    color: $button-text;
    text-decoration: none;
    padding: $spacing-sm;
    font-size: $font-size-base;
    transition: color $transition-normal;

    &:hover {
      color: $theme-color;
    }

    &:active {
      color: $link-hover-color;
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;

    div {
      width: 25px;
      height: 3px;
      background-color: $button-text;
      border-radius: $border-radius;
    }
  }

  @include respond-to(tablet) {
    .navbar-links {
      display: none;
    }

    .hamburger-menu {
      display: flex;
    }
  }

  @include respond-to(mobile) {
    .navbar-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $primary-color;
      flex-direction: column;
      gap: $spacing-sm;
      padding: $spacing-md;

      &.active {
        display: flex;
      }

      a {
        padding: $spacing-sm;
        font-size: $font-size-base-mobile;
        text-align: center;
      }
    }

    .hamburger-menu {
      display: flex;
      gap: 4px;

      div {
        width: 30px;
        height: 3px;
        background-color: $button-text;
        border-radius: $border-radius;
      }
    }
  }
}
