@use "../utils/utils" as *;

.navbar {
  background-color: $background-color;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  border-radius: $border-radius;
  .logo {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: $text-color;
    }
  }

  .navbar-links {
    display: flex;
    gap: $spacing-sm;
    margin: 0;
    a {
      color: $text-color;
      text-decoration: none;
      padding: $spacing-sm;
      font-size: $font-size-base;
      transition: color $transition-normal;

      &:hover {
        color: $theme-color;
      }

      &:active {
        color: $link-hover-color;
      }
    }

    &.active {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $primary-color;
      flex-direction: column;
      gap: $spacing-sm;
      padding: $spacing-md;
      z-index: 1001;
      color: red !important;
      justify-content: center;
      align-items: center;
    }

    a.active {
      color: $theme-color;
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;

    div {
      width: 25px;
      height: 3px;
      background-color: $text-color;
      border-radius: $border-radius;
    }
  }

  @include respond-to(tablet) {
    .navbar-links {
      display: none;
    }

    .hamburger-menu {
      display: flex;
    }
  }

  @include respond-to(mobile) {
    .navbar-links {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $primary-color;
      flex-direction: column;
      gap: $spacing-sm;
      padding: $spacing-md;

      &.active {
        display: flex;
      }

      a {
        color: $button-text;
        padding: $spacing-sm;
        font-size: $font-size-base-mobile;
        text-align: center;
      }
    }

    .hamburger-menu {
      display: flex;
      gap: 4px;

      div {
        width: 30px;
        height: 3px;
        background-color: $text-color;
        border-radius: $border-radius;
      }
    }
  }
}
