@use "/src/styles/utils/utils" as *;
@use "/src/styles/layout/layout" as *;
@use "/src/styles/utils/_utils.scss" as *;

.social-links {
  @include flex-space-between;
  position: absolute;
  gap: 35px;
  padding: 15px;
  z-index: 1;
  background-color: $background-color;
  border-radius: $border-radius;
  top: 50%;

  @include respond-to(tablet) {
    top: 45%;
    gap: $spacing-xl-tablet;
    padding: $spacing-sm-tablet;
    flex-wrap: wrap;
    max-width: 180px;
  }

  @include respond-to(mobile) {
    gap: $spacing-xl-mobile;
    position: relative;
    padding: $spacing-xs-mobile;
    flex-wrap: nowrap;
    max-width: max-content;
  }
}
