@use "./breakpoints" as *;

// General font size
$font-size-base: 1.2rem;
$font-size-lg: 1.5rem;
$font-size-sm: 1rem;

// Adaptive Font Size
$font-size-base-mobile: 1rem;
$font-size-lg-mobile: 1.25rem;
$font-size-sm-mobile: 0.875rem;

$font-size-base-tablet: 1.1rem;
$font-size-lg-tablet: 1.375rem;
$font-size-sm-tablet: 1rem;

// General line height
$line-height-base: 1.5;
$line-height-lg: 1.6;
$line-height-sm: 1.4;

// Adaptive line height
$line-height-base-mobile: 1.4;
$line-height-lg-mobile: 1.5;
$line-height-sm-mobile: 1.3;

$line-height-base-tablet: 1.45;
$line-height-lg-tablet: 1.55;
$line-height-sm-tablet: 1.35;

// General spacing
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1.25rem;
$spacing-lg: 1.75rem;
$spacing-xl: 2.5rem;
$spacing-xxl: 4rem;

// Adaptive Spacing
$spacing-xs-mobile: 0.5rem;
$spacing-sm-mobile: 1rem;
$spacing-md-mobile: 1.25rem;
$spacing-lg-mobile: 1.5rem;
$spacing-xl-mobile: 2rem;

$spacing-xs-tablet: 0.5rem;
$spacing-sm-tablet: 1rem;
$spacing-md-tablet: 1.25rem;
$spacing-lg-tablet: 1.5rem;
$spacing-xl-tablet: 2rem;

// Mixins responsive
@mixin respond-to($device) {
  @if $device == mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: $tablet-breakpoint) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: $desktop-breakpoint) {
      @content;
    }
  }
}
