@use "../utils/colors" as *;
@use "../utils/spacing" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "ABChanel Corpo Regular";
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $background-color;
  color: $text-color;
  margin: 0;

  @include respond-to(mobile) {
    font-size: $font-size-base-mobile;
    line-height: $line-height-base-mobile;
  }

  @include respond-to(tablet) {
    font-size: $font-size-base-tablet;
    line-height: $line-height-base-tablet;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-lg;
  overflow: hidden;
  position: relative;
  @include respond-to(tablet) {
    max-width: 960px;
    padding: $spacing-md-tablet;
  }

  @include respond-to(mobile) {
    max-width: 100%;
    padding: $spacing-sm-mobile;
  }
}

.main {
  padding-top: 0;
}
